/* Je teste internet */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    font-family: Helvetica;
    margin-top: 100px;
}

a {
    text-decoration: none;
}

/*
lacouleur du vert est : #7BD57F
lacouleur gris foncé #5D5D5C

1rem = 16pt ou voir https://www.jarrige.fr/pixelrem/

*/

.test{
    position:absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #7BD57F;
	padding: 1.5em 0 4em 0;
	
}
.aser{
  position:fixed;
	top: 90%;
	left: 0;
	right: 0;
	border-top-style: solid;
  border-top-color: rgb(221, 221, 221);
	z-index: 100;
    background-color:white;
}


.icon-bar {
	
	width: 100%; /* Full-width */
	overflow: auto; /* Overflow due to float */
	
  }
  
  .icon-bar a {
	float: left; /* Float links side by side */
	text-align: center; /* Center-align text */
	width: 20%; /* Equal width (5 icons with 20% width each = 100%) */

padding: 10px 20px; /* Some top and bottom padding */
	font-size: 36px; /* Increased font size */
  }

.ssmenu {
    font-size : 1.25rem;
    z-index: 150;
    text-decoration:none;
    list-style: none;
    margin-left: 3%;
   
    
}

.ssmenu li {
    font-family: Helvetica;
    text-decoration-color: black;
    display: inline-block;
     color: #5D5D5C;
    padding-right: 1.10rem;
}

.photoac {
    margin-top: 30px;
    width: 100%;
}

.accueil h2 {
    font-family: Helvetica;
    font-size: 1.0625rem;
    color: #5D5D5C;
        margin-left: 3%;
    margin-top: 15px;
}

.accueil p {
     font-family: Helvetica;
    font-size: 1remx; 
    color: #7BD57F;
    margin-left: 3%;
    margin-top: 10px;
}


	

